{% extends "MainApp/mainpage.html" %}

{% load static  %}

{% block title %}catalog{% endblock title %}

{% block content %}
	
	{% block sidebar %}
		{% include 'Includes/sidebar.html' %}
	{% endblock sidebar %}

	<h4 style="margin-left: 560px; color: #fff70a;" class="shadowtext">Films <b>catalog</b></h4>
	<br><br>

	<div class="filmsfilter">

		{% for movie in movies %}
			<div id="filmscontent">
				<div style="margin-left: 100px;" class="card">
				  <a href="#">

				  	{% for obj in movie.movie_shots.all %}
					    <div class="img1"><img src="{{ obj.image.url }}"></div>
					    <div class="img2"></div>
					{% endfor %}

				    <div class="title">
				    	<a style="color: #DAF7A6;" href="{{ movie.get_absolute_url }}">
				    		{{ movie.title }}
				    	</a>
				    </div>

				    <a href="{{ movie.get_absolute_url }}">
				    	<div class="catagory">
				    		{{ movie.category }} <i class="fas fa-film"></i>
				    	</div>
					</a>

				    {% for genre in movie.genres.all %}
				    	<a href="{{ genre.get_absolute_url }}">
				    		<div class="catagory">
				    			{{ genre.name }} <i class="fas fa-film"></i>
				    		</div>
				    	</a>
				    {% endfor %}

				    <a href="#"><div class="views">20211  <i class="far fa-eye"></i> </div></a>
				  </a>
				</div>
			</div>
			
		{% endfor %}

	{% include 'Includes/paginationbar.html' %}		

	</div>

	<script>
		$(".button-collapse").sideNav();
	</script> 

	<style type="text/css">
		   .shadowtext {
			    text-shadow: 1px 1px 2px black, 0 0 1em red;
			    color: #440C10;
			    font-size: 2em;
			}
	</style>
{% endblock content %}